torch==2.9.0+cu130
torchvision==0.24.0+cu130
torchaudio==2.9.0+cu130

transformers==4.56.2
accelerate==1.10.1
peft==0.17.1
gguf==0.17.1

fastapi
pydantic
requests
openai
PyYAML
huggingface_hub

numpy
pandas
matplotlib
seaborn
datasets